.TextInput {
    font-size: large;
    border: 1px solid #EEEEEE;
    padding: 5px;
    border-radius: 3px;
    display: -moz-inline-box;
    margin: 5px auto;
}
.TextInput:focus {
    outline: none;
    border-color: #ce7171;
    box-shadow: 0 0 10px rgb(153, 50, 50);
}


.Button {
    display: -moz-inline-box;
    margin: 10px auto;
    padding: .5rem;
    font-size: 1em;
    background: rgb(139, 0, 19);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 5px auto;
}